/SDL.dll
/SDL_image.dll
/TexturePacker.exe
/jpeg.dll
/libpng12-0.dll
/libtiff-3.dll
/packer.bat
/textures.cmd
/textures.log
/zlib1.dll
/*.bat
/*.Thumbs.db
/.project
/debuggrid1080.png
media/breadcrumbs/Thumbs.db
extras/colortheme/flags/resolution/.DS_Store
extras/colortheme/flags/rating/.DS_Store
extras/colortheme/flags/audio/.DS_Store
extras/colortheme/flags/aspectratio/.DS_Store
extras/colortheme/flags/.DS_Store
extras/reloadedtheme/flags/audio/Thumbs.db
extras/reloadedtheme/flags/audio/Thumbs.db
extras/colortheme/defaulticons/Thumbs.db
extras/reloadedtheme/flags/audio/Thumbs.db
extras/colortheme/defaulticons/Thumbs.db
extras/colortheme/defaulticons/Thumbs.db