/SDL.dll
/SDL_image.dll
/TexturePacker.exe
/jpeg.dll
/libpng12-0.dll
/libtiff-3.dll
/packer.bat
/textures.cmd
/textures.log
/zlib1.dll
/*.bat
/*.Thumbs.db
/.project
/debuggrid1080.png
media/breadcrumbs/Thumbs.db
*.db
*.db
*.psd
*.db
media/calibration - Kopie/Thumbs.db
*.db
*.db
*.db
media/flags/Thumbs.db
media/flags/aspectratio/Thumbs.db
media/flags/studios/Thumbs.db
media/flags/language/Thumbs.db
*.db
